extends ../template.pug




block meta
    - var title = 'Test Project'
    - var tags = ['these', 'are', 'supposed', 'to', 'be', 'tags']
    - var note = 'Some text here describing the project, character limit is debateable but will see'
    - var postImageUrl = '../../img/post.jpg'
    meta(name="description", content=note)
    title=title + '@HoninWorx'

block content
    //- script=`const project_id = function() {return '${project._id}'}`
    #create_root(create='project')
    //- article.main#post
    //-     header.title
    //-         .body
    //-             span Edit project
    //-             input(name='title' placeholder=(project.title ? project.title : 'Project Name')).subtitle
    //-         .el.link
    //-             a.body.notitle(href='#' title='Hide Body' onclick='document.querySelector("#post").classList.toggle("close")')
    //-                 i.fas.fa-eye
    //-             a.body.notitle(href='#' title='Save')
    //-                 i.fas.fa-save
    //-             a.body.notitle(href='#' title='Publish')
    //-                 i.fas.fa-check
    //-     .body
    //-         header.title
    //-             span Notes

    

    //-         for note in project.notes
    //-             .el.note(id=note._id)
    //-                 header.title
    //-                     .body
    //-                         span=note.title
    //-                         span.subtitle Note
    //-                         span.subtitle=note.createdAt
    //-                     .el.link
    //-                         a.body.notitle(href=`#` title='Delete' onClick=`delete_note("${note._id}", "${project._id}")`)
    //-                             i.fas.fa-trash
    //-                 p.body=note.body
    //-         .el.media.list
    //-             header.title
    //-                 button(style=({float: right}))
    //-                     i.fas.fa-plus            
    //-                     span Add Media
    //-                 span Media
    //-             .body                        
    //-                 for media in project.media
    //-                     if media.type='img'
    //-                     .el.img.card.close(id=media._id)
    //-                         img.body(src=media.path)
    //-                         footer
    //-                             .body
    //-                                 .el.meta
    //-                                     .body
    //-                                         for k, meta in media.meta
    //-                                             span(data-title=k)
    //-                                                 span.body = meta
    //-                                 .el.link(onClick='document.querySelector("#post_1").classList.toggle("close")')
    //-                                     a.body(href='#')
    //-                                         i.fas.fa-eye            
    //-         footer
    //-             .body
                    

    //-     .background.fixed(style=`background-image: URL("${postImageUrl}")`)