extends ../template.pug

block content
    - var title = 'Test Project'
    - var postImageUrl = '../../img/latest.jpg'
    
    .page
        article.main
            header.title
                span Welcome!
            .body
                .el.note
                    p.body Honinworx is the portfolio project/s of a web developer/artist.
                        
                                
            .post.background(style=`background-image: URL("/media/latest")`)
    .page
        header.title
            span Posts
        .body
            .el.list.grid
                .body
                    if projects
                        for p in projects
                            article.card
                                header.title=p.title
                                if p.note
                                    .body
                                        .el.note
                                            .body!=methods.markdown(p.note)
                                                
                                footer
                                    .body
                                        .el.link
                                            a.body(href=`/project/${p._id}`, title=`View`)
                                                i.fas.fa-eye
                                            span.body(title=`Created: ${p.createdAt}`)
                                                <i class="fas fa-calendar-day"></i>
                                            span.body(title=`Updated: ${p.updatedAt}`)
                                                i.fas.fa-clock
                                            span.body(title=`Posts: ${p.posts.length}`)
                                                i.fas.fa-book
                                            span.body(title=`Age: `)
                                                i.fas.fa-hourglass-start
                                .background(style=`background-image: URL(/project/${p.id}/media/latest)`)
                footer
                    .body
                        a.el.loadmore(title='View More', href='./projects.html')
                            .body
                                i.fas.fa-eye


    .page
        article.main
            header.title
                span About

            .body
                include ../body/about
            .background.after(style=`background-image: URL(/media/latest)`)