extends ../template.pug

block styles
    link(rel="stylesheet", href="/stylesheets/style2.css")
block content
    div.container
        asside#projectList
            if env.e_edit && roles.can(user, 'edit')
                div.search
                    span.searchblock(contenteditable="true" data-target='project' )
                div.buttons
                    span.create(title=`Create project: `)
                        i.fas.fa-star
            if(projects)
                ul.list(data-type='project' data-clear='page')
                    li.mainPage(class=(query.project == undefined ? 'active' : ''))
                        span="Cover Page"
                    for p in projects
                        li(data-id=p._id data-url=query.project class=(query.project && p._id == query.project ? 'active' : ''))
                            span=p.title
        asside#pageList
            if(pages)
                if env.e_edit && roles.can(user, 'edit')
                    div.search
                        span.searchblock(contenteditable="true" data-target='page' )
                    div.buttons
                        span.create(title=`Create page: ` data-project=query.project)
                            i.fas.fa-star
                ul.list(data-type='page')
                    li.mainPage(class=(query.page == undefined ? 'active' : ''))
                        span="Main Page"
                    for p in pages
                        li(data-id=p._id class=(query.page && p._id == query.page ? 'active' : ''))
                            span=p.title
        article
            if  env.e_edit && roles.can(user, 'edit')
                .container#tools
                    .head
                        div.buttons
                            span#save
                                i.fas.fa-save
                            span#delete
                                i.fas.fa-trash
                            span#togglePreview
                                i.fas.fa-eye
                .container#edit
                    span.head
                        input(type='text' value=(focus ? focus.title : '')).title
                    textarea().body=(focus ? focus.note : '')
            if(focus)
                .container#display
                    span.head
                        span.title=focus.title
                        div.buttons
                            span(title=`Age: `)
                                i.fas.fa-hourglass-start
                    div.body!=methods.markdown(focus.note)
            else
                .container
                    span.head
                        span.title HoninWorx
                    .body
                        h1 Welocome
                        p This app is indended to chronicle the developments into many things. Its rather hard to specify the many things.
                        p Feel free to start up a conversation if you have any thoughts or feelings.
                        
block scripts
    script(src="/javascripts/common.js")
    script(src="/javascripts/search.js")
    script(src="/javascripts/list.js")
    if(env.e_edit && user)
        script(src="/javascripts/edit.js")