extends ../template.pug

block content
    article#postEditor
        input.id(type='hidden' value=(focus ? focus.id : ObjectId()))
        .container
            .head.buttons.controll
                .button.main.hover.new(data-title='Create new post' data-href='/p/a/create')
                        i.fas.fa-plus
                .button.buttons
                    .button.hover.save(data-title='Save')
                        i.fas.fa-save
                    .button.hover.delete(data-title='Delete current')
                        i.fas.fa-trash
                    .button.hover.toggle(data-title='Toggle preview')
                        i.fas.fa-eye
        
        .container.payload
            span.head
                input(type='text' value=(focus ? focus.title : '')).title
            textarea().body.content=(focus ? focus.content : '')

        .container.display
            if(focus)
                span.head
                    span.title=focus.title
                    div.buttons
                        .button.hover(data-title=`Created: ${focus.createdTimeStamp()}`)
                            i.fas.fa-hourglass-start
                        .button.hover(data-title=`Updated: ${focus.updatedTimeStamp()}`)
                            i.fas.fa-hourglass-start
                div.body.content!=focus.markdown()
            else
                span.head
                    span.title Welcome to the editor
                div.body.content
                    h1 The Post Editor
                    p Its still a work in progress and I can already see allot of security flaws. But not too worry. Its not for anyone else to use yet.


        if(focus)
            .container#media
                span.head
                    span.title='Media:'
                    .buttons
                        label.button.hover(data-title='Upload image' for='imageUpload')
                            i.fas.fa-portrait
                        label.button.hover(data-title='Link Video' for='videoArchive')
                            i.fas.fa-link
                ul.body
                    li#mediaSelect
                        input#imageUpload(type='radio' name='media' value='img') 
                        .select.img
                            .meta
                                .name
                                .type
                                .size
                                
                            input#fileSelect.file(type='file' style='display: none')
                            .thumbnail(data-title='Select Media...')
                                img

                        input(type='radio' name='media' id='videoArchive' value='vid') 
                        .select.vid
                            input.id(type='text' placeholder='Video id: ')
                            

                        .buttons.lonely.head
                            .button.cancel(data-clear-select='media')
                                i.fas.fa-minus
                            .button.submit(data-clear-select='media')
                                i.fas.fa-save
                    for m in focus.media
                        li(id=m._id)
                            .body
                                .head
                                    .title=m.title
                                span.minor=m.url
                            .thumbnail
                                img(src=m.thumbnail)
            .mediaView
                for m in focus.media
                    if(m.type == undefined || m.type == 'img')
                        .item(style=`background-image: URL(${m.url})`)
block scripts
    script(src="/javascripts/search.js")
    script(src="/javascripts/list.js")
    script(src="/javascripts/spider.js")
    script(src="/javascripts/post/editor.js")
    //- script(src="/javascripts/media.js")