extends ../template.pug

block content
    article
        .container#tools
            .head.buttons
                .button.main
                        i.fas.fa-plus
                .button
                    span#save
                        i.fas.fa-save
                    span#delete
                        i.fas.fa-trash
                    span#togglePreview
                        i.fas.fa-eye
        .container#edit
            span.head
                input(type='text' value=(focus ? focus.title : '')).title
            textarea().body=(focus ? focus.content : '')
        .container#display
            span.head
                span.title=focus.title
                div.buttons
                    .button.hover(data-title=`Created: ${focus.createdTimeStamp()}`)
                        i.fas.fa-hourglass-start
                    .button.hover(data-title=`Updated: ${focus.updatedTimeStamp()}`)
                        i.fas.fa-hourglass-start
            div.body!=focus.markdown()
        .container#media
            span.head
                span.title='Media:'
                .buttons
                    label.button.hover(data-title='Upload image' for='imageUpload')
                        i.fas.fa-portrait
                    label.button.hover(data-title='Link Video' for='videoArchive')
                        i.fas.fa-link
            ul.body
                li#mediaSelect
                    input#imageUpload(type='radio' name='media' value='img') 
                    .select.img
                        .meta
                            .name
                            .type
                            .size
                            
                        input#fileSelect.file(type='file' style='display: none')
                        .thumbnail(data-title='Select Media...')
                            img

                    input(type='radio' name='media' id='videoArchive' value='vid') 
                    .select.vid
                        input.id(type='text' placeholder='Video id: ')
                        

                    .buttons.lonely.head
                        .button.cancel(data-clear-select='media')
                            i.fas.fa-minus
                        .button.submit(data-clear-select='media')
                            i.fas.fa-save

                li
                    .body
                        .head
                            span.title HeckenImg Title
                        span.minor='https://i.ibb.co/fnLvNwH/IMG-20210110-161429.jpg'
                    .thumbnail
                        img(src='https://i.ibb.co/fnLvNwH/IMG-20210110-161429.jpg')
                li
                    .head
                        .title='BlastOfCas[Stream Paint]'
                    .body
                    .thumbnail
                        img(src='https://i.ytimg.com/vi/jO-iPpdOVHI/hqdefault.jpg')


block scripts
    script(src="/javascripts/search.js")
    script(src="/javascripts/list.js")
    script(src="/javascripts/edit.js")
    script(src="/javascripts/media.js")