extends ../template.pug

block content
    article
        .container#tools
            .head.buttons
            
                div.button
                    span#save
                        i.fas.fa-save
                    span#delete
                        i.fas.fa-trash
                    span#togglePreview
                        i.fas.fa-eye
        .container#edit
            span.head
                input(type='text' value=(focus ? focus.title : '')).title
            textarea().body=(focus ? focus.content : '')
        .container#display
            span.head
                span.title=focus.title
                div.buttons
                    span.hover(data-title=`Created: ${focus.createdTimeStamp()}`)
                        i.fas.fa-hourglass-start
                    span.hover(data-title=`Updated: ${focus.updatedTimeStamp()}`)
                        i.fas.fa-hourglass-start
            div.body!=focus.markdown()
        .container#media
            span.head
                span.title='Media:'
                .buttons
                    label.button.hover(data-title='Upload image' for='imageUpload')
                        i.fas.fa-portrait
                    label.button.hover(data-title='Link Video' for='videoArchive')
                        i.fas.fa-link
            ul.body
                li
                    input(type='radio' name='media' id='imageUpload') 
                    .select
                        input.title(type='text' placeholder='Media title:')
                        input.file(type='file')

                    input(type='radio' name='media' id='videoArchive') 
                    .select
                        input.title(type='text' placeholder='Video id: ')

                    .buttons.lonely
                        .button(data-clear-select='media')
                            i.fas.fa-minus
                        .button(data-clear-select='media')
                            i.fas.fa-plus

                li
                    .head
                        span.title HeckenImg Title
                        span='https://i.ibb.co/fnLvNwH/IMG-20210110-161429.jpg'
                    .thumbnail
                        img(src='https://i.ibb.co/fnLvNwH/IMG-20210110-161429.jpg')
                li
                    .head
                        span.title
                        span='BlastOfCas[Stream Paint]'
                    .thumbnail
                        img(src='https://i.ytimg.com/vi/jO-iPpdOVHI/hqdefault.jpg')


block scripts
    script(src="/javascripts/common.js")
    script(src="/javascripts/search.js")
    script(src="/javascripts/list.js")
    script(src="/javascripts/edit.js")
    script(src="/javascripts/media.js")