extends ../template.pug

block content
    article
        .container#display
            span.head
                span.title=focus.title
                div.buttons
                    span.hover(data-title=`Created: ${focus.createdTimeStamp()}`)
                        i.fas.fa-hourglass-start
                    span.hover(data-title=`Updated: ${focus.updatedTimeStamp()}`)
                        i.fas.fa-hourglass-start
            div.body!=focus.markdown()
        .container#media
            span.head
                span.title='Media:'
            div.body='Nothing yet...'
                        
block scripts
    script(src="/javascripts/common.js")
    script(src="/javascripts/search.js")
    script(src="/javascripts/list.js")